<?xml version="1.0" encoding="UTF-8"?>
<element>
	<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
			<servlet>
		        <servlet-name>home</servlet-name>
		        <servlet-class>com.locations.servelets.Home</servlet-class>
		    </servlet>
		    
		    <servlet-mapping>
		        <servlet-name>Home</servlet-name>
		        <url-pattern>/</url-pattern>
		    </servlet-mapping>  
	</web-app>
</element>